body{
    text-align: center;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}

#logo{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    
}

#wrap{
    display: block;
    padding:20px;
    width: 690px;
    margin: 0 auto;
    /* width: 750px; */
    /* border: 1px solid black; */
    background-color: rgb(197, 206, 238);
}



#header{
    /* border: 1px solid black; */
    background-color: rgb(155, 205, 255);
    height: 60px;
}

#container{
    /* border: 1px solid blue; */
    background-color: rgb(200,225,245);

    height: 400px;
    padding: 20px;
    /* text-align: center; */
    
}

#display {
    display: flex;
    /* border: 1px solid black; */
    width: 650px;
    height: 298px;
}

#vs {
    display: inline-block;
    width: 50px;
    height: 298px;
    margin-left: 1px;
    margin-right: 1px;
    /* border: 1px solid black; */
}

#h1{
    margin-top: 120px;
}

#player1, #player2{
    padding: 10px;
    /* border: 1px solid black; */
    width: 308px;
    height: 278px;
    display: inline-block;
    background-color: rgb(214, 213, 213);
}

#winner{
    padding: 10px;
    /* border: 1px solid black; */
    width: 278px;
    height: 278px;
    display: inline-block;
    background-color: rgb(214, 213, 213);
}

#play1back, #play2back, #winnerback{
    width: 278px;
    height: 278px;
    background-color: #fff;
    /* border: 1px solid black; */

}


#footer{
    /* border: 1px solid black; */
    height: 100px;
    background-color: rgb(155, 205, 255);
    margin-top: 10px;

}


.round, #roundmsg{
    margin-top: 20px;
    display: inline-block;
}

.round { 
    color: #fff; 
    text-shadow: /* White glow */ 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff,
    0 0 42px #0fa, 
    0 0 82px #0fa, 
    0 0 92px #0fa, 
    0 0 102px #0fa, 
    0 0 151px #0fa; 
    
}


#start, #reset{
    width: 90px;
    height: 50px;
    background-color: rgba(108, 117, 125, 0.5);
    border: none;
    border-radius: 10%;
    color: white;
}

#control{
    /* border: 1px solid black; */
    width: 300px;
    height: 50px;
    margin-top: 30px;
    margin-left: 27%;
    display: flex;
    justify-content: space-around;
    
}

.boxwin
{
    color: #fff; 
    box-shadow: /* White glow */ 0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 21px #fff,
    0 0 42px #0fa, 
    0 0 82px #0fa, 
    0 0 92px #0fa, 
    0 0 102px #0fa, 
    0 0 151px #0fa; 
}